<div *ngIf="!loading">

  <div class="row">
    <div class="col-12 text-center" style="font-weight: 600; font-size: 20px">{{itemName}}</div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-light btn-md backButton" (click)="goback()">
        &lt; List
      </button>
    </div>
    <div class="col-6">

      <button (click)="dataService.Wishlisted(dataService.row);" class="wishButton float-right" type="button">
        <i class="material-icons add_shopping_cart" [hidden]="!dataService.isWished(dataService.row)"
          style="padding-top:5px; color:darkgoldenrod;">remove_shopping_cart</i>
        <i class="material-icons remove_shopping_cart" [hidden]="dataService.isWished(dataService.row)"
          style="padding-top:5px;">add_shopping_cart</i>
      </button>
      <a class="facebook-share-button float-right facebook" [href]="Facebook()" target="_blank">
        <img src="http://csci571.com/hw/hw8/Images/facebook.png">
      </a>
    </div>
  </div>
  <ul class="nav nav-tabs mb-tab justify-content-end" id="pills-Tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product"
        aria-selected="true">Product</a>
    </li>
    <li class="nav-item">
      <a href="#haha" class="nav-link" role="tab" data-toggle="tab" aria-controls="photos" id="haha-tab"
        aria-selected="false">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping"
        aria-selected="false">Shipping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="seller-tab" data-toggle="tab" href="#seller" role="tab" aria-controls="seller"
        aria-selected="false">Seller</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="similar-tab" data-toggle="tab" href="#similar" role="tab" aria-controls="similar"
        aria-selected="false">Similar Products</a>
    </li>
  </ul>
  <div class="tab-content" id="tabContent">
    <div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
      <div *ngIf="detailEmpty">
        <app-no-results></app-no-results>
      </div>
      <div *ngIf="!detailEmpty">
        <table class="full-width-table table-striped table-dark">
          <tbody id="table"></tbody>
        </table>
        <div class="modal fade" id="photomodal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="font-weight:600;">Product Images</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div id="photos" class="carousel slide" data-ride="carousel" data-interval="false">
                  <div class="carousel-inner">
                    <div class="carousel-item active"><a href="{{images[0]}}" target="_blank">
                        <img class="d-block w-100" src="{{images[0]}}">
                      </a>
                    </div>
                    <div class="carousel-item" *ngFor="let img of images | slice:1;">
                      <a href="{{img}}" target="_blank">
                        <img class="d-block w-100" src="{{img}}">
                      </a>
                    </div>
                    <a class="carousel-control-prev" href="#photos" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon">
                      </span>
                    </a>
                    <a class="carousel-control-next" href="#photos" role="button" data-slide="next">
                      <span class="carousel-control-next-icon">
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="pull-left">
                </div>
                <button class="btn btn-dark" type="button" data-dismiss="modal">Close</button>
                <!--end modal-footer-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="haha" role="tabpanel" aria-labelledby="photos-tab">
      <!-- <app-photos></app-photos> -->
      <div *ngIf="!haveimage">
        <app-no-results></app-no-results>
      </div>
      <div *ngIf="haveimage">
        <div class="card-columns">
          <div class="card">
            <a *ngIf="image[0]" href="{{image[0]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-top" src="{{image[0]?.photo}}">
            </a>
            <a *ngIf="image[3]" href="{{image[3]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-bottom" src="{{image[3]?.photo}}">
            </a>
          </div>
          <div class="card">
          </div>
          <div class="card">
            <a *ngIf="image[1]" href="{{image[1]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-top" src="{{image[1]?.photo}}">
            </a>
            <a *ngIf="image[4]" href="{{image[4]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-bottom" src="{{image[4]?.photo}}">
            </a>
          </div>
          <div class="card">
            <a *ngIf="image[6]" href="{{image[6]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-top" src="{{image[6]?.photo}}">
            </a>
          </div>

          <div class="card">
            <a *ngIf="image[2]" href="{{image[2]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-top" src="{{image[2]?.photo}}">
            </a>
            <a *ngIf="image[5]" href="{{image[5]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-bottom" src="{{image[5]?.photo}}">
            </a>
          </div>
          <div class="card">
            <a *ngIf="image[7]" href="{{image[7]?.photo}}" target="_blank">
              <img id="photo-tab-img" class="card-img-top" src="{{image[7]?.photo}}">
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
      <!-- <app-shipping></app-shipping> -->
      <div *ngIf="!shipEmpty">
        <table class="full-width-table table-striped table-dark">
          <tbody id="table">
            <tr>
              <th style="padding:10px" scope="row">Shipping Cost</th>
              <td>{{cost}}</td>
            </tr>
            <tr>
              <th style="padding:10px" scope="row">Shipping Locations</th>
              <td>{{local}}</td>
            </tr>
            <tr>
              <th style="padding:10px" scope="row">Handling Time</th>
              <td>{{time}}</td>
            </tr>
            <tr>
              <th style="padding:10px" scope="row">Expedited Shipping</th>
              <td>
                <div *ngIf="expedited"><i class="material-icons" style="color:green;  padding-top: 3px">
                    check
                  </i></div>
                <div *ngIf="!expedited"><i class="material-icons" style="color:red;  padding-top: 3px">
                    close
                  </i></div>
              </td>
            </tr>
            <tr>
              <th style="padding:10px" scope="row">One Day Shipping</th>
              <td>
                <div *ngIf="oneday"><i class="material-icons" style="color:green;  padding-top: 3px">
                    check
                  </i></div>
                <div *ngIf="!oneday"><i class="material-icons" style="color:red;  padding-top: 3px">
                    close
                  </i></div>
              </td>
            </tr>
            <tr>
              <th style="padding:10px" scope="row">Return Accepted</th>
              <td>
                <div *ngIf="returnable"><i class="material-icons" style="color:green;  padding-top: 3px">
                    check
                  </i></div>
                <div *ngIf="!returnable"><i class="material-icons" style="color:red;  padding-top: 3px">
                    close
                  </i></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="tab-pane fade" id="seller" role="tabpanel" aria-labelledby="seller-tab">
      <!-- <app-seller></app-seller> -->
      <div *ngIf="haveseller">
        <table *ngIf="seller" class="full-width-table table-striped table-dark">
          <tbody>
            <th style="text-align: center; padding: 15px; font-size: 22px;" scope="row">{{seller}}</th>
          </tbody>
        </table>
        <table class="full-width-table table-striped table-dark">
          <tbody>
            <tr *ngIf="score">
              <th style="padding:10px; width: 45%;" scope="row">Feedback Score</th>
              <td>{{score}}</td>
            </tr>

            <tr *ngIf="popular" style="padding-top: 20px; padding-bottom: 20px">
              <th style="padding-right:10px; padding-left:10px; padding-top:20px; padding-bottom:20px;" scope="row">
                Popularity
              </th>
              <td>
                <div class="progress-wrapper">
                  <div class="current" style="font-size:12px; padding-top: 30px; padding-left: 6px;">{{popular}}</div>
                  <round-progress [current]="popValue()" [max]="100" [radius]="18" [stroke]="2" [responsive]="false"
                    [color]="'#0ff50f'" style="transform: translateY(-75%)">
                  </round-progress>
                </div>
              </td>
            </tr>

            <tr *ngIf="rating">
              <th style="padding:10px" scope="row">Feedback Rating Star</th>
              <td style="padding-top:8px"> <i class="material-icons" id="stars" [ngStyle]="applyColors()">{{rating}}</i>
              </td>
            </tr>

            <tr>
              <th style="padding:10px" scope="row">Top Rated</th>
              <td *ngIf="toprated">
                <i class="material-icons" style="color: green; padding-left:3px">
                  check
                </i>
              </td>
              <td *ngIf="!toprated">
                <i class="material-icons" style="color: red; padding-left:3px">
                  close
                </i>
              </td>
            </tr>

            <tr *ngIf="storename">
              <th style="padding:10px" scope="row">Store Name</th>
              <td>{{storename}}</td>
            </tr>

            <tr *ngIf="buyat">
              <th style="padding:10px" scope="row">Buy Product At</th>
              <td><a href="{{buyat}}" target="_blank">Store</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
      <div *ngIf="similarLoad">
        <!-- <app-similar></app-similar> -->
        <div class="row selectRow">
          <select (change)="Sort($event.target.value)" class="custom-select col-md-2 sortSelect">
            <option class="dropdown-item" value="default" [selected]="currentCategory=='default'">Default</option>
            <option class="dropdown-item" value="title">Product Name</option>
            <option class="dropdown-item" value="time">Dates Left</option>
            <option class="dropdown-item" value="price">Price</option>
            <option class="dropdown-item" value="cost">Shipping Cost</option>
          </select>

          <select (change)="Reverse($event.target.value)" class="browser-default custom-select col-md-2"
            [disabled]="currentCategory=='default'">
            <option class="dropdown-item" value="ascending">Ascending</option>
            <option class="dropdown-item" value="descending">Descending</option>
          </select>
        </div>
        <div *ngFor="let similar of similars.slice(0,similars.length<5?similars.length:5);">
          <div class="card bg-dark row-sim">
            <div class="row no-gutters">
              <div class="col-image">
                <img id="sim-image" src="{{similar.image}}" alt="">
              </div>
              <div class="col">
                <div class="card-block px-2">
                  <a href="{{similar.link}}" target="_blank">
                    <p class="card-text text-title">{{similar.title}}</p>
                  </a>
                  <p class="card-text text-price">Price: {{similar.price}}</p>
                  <p class="card-text text-warning">Shipping Cost: {{similar.cost}}</p>
                  <p class="card-text text-white">Days Left: {{similar.time}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="similars.length>5">
          <div [@openClose]="this.show === 'Show More'?'closed' : 'open'">
            <div class="card bg-dark row-sim" *ngFor="let similar of similars.slice(5)">
              <div class="row no-gutters">
                <div class="col-image">
                  <img src="{{similar.image}}" alt="">
                </div>
                <div class="col">
                  <div class="card-block px-2">
                    <p class="card-text text-title">{{similar.title}}</p>
                    <p class="card-text text-price">Price: {{similar.price}}</p>
                    <p class="card-text text-warning">Shipping Cost: {{similar.cost}}</p>
                    <p class="card-text text-white">Days Left: {{similar.time}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center"><button (click)="toggleShow()" class="btn btn-show" type="button"
              data-toogle="collapse" data-target="#collapses" aria-expanded="false"
              aria-controls="collapses">{{show}}</button></div>
        </div>
        <app-no-results *ngIf="dataService.IsEmpty(similars);"></app-no-results>

      </div>
    </div>
  </div>
