<div *ngIf="!isEmpty()">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-light btn-md float-right detailsButton" type="button" [disabled]="HasSelectedResult()"
        (click)="goForward('wishlist')">
        Detail &gt;
      </button>
    </div>
  </div>
  <table class="full-width-table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col" id="index">#</th>
        <th scope="col" id="image">Image</th>
        <th scope="col" id="title">Title</th>
        <th scope="col" id="price">Price</th>
        <th scope="col" id="ship">Shipping</th>
        <th scope="col" id="seller">Seller</th>
        <th scope="col" id="wishtable">Wish List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wishlist of wishlists; let i = index">
        <td id="index">{{i+1}}</td>
        <td id="images"><img src='{{wishlist.image}}'></td>
        <td id="title"><a (click)="ShowDetails(wishlist, 'wishlist')" ngbTooltip="{{wishlist.title[0]}}"
            container="body" placement="bottom">{{DisplayDetail(wishlist.title[0])}}</a></td>
        <td id="price">${{wishlist.price}}</td>
        <td id="ship">{{wishlist.shippingcost}}</td>
        <td id="seller">{{wishlist.seller}}</td>
        <td>
          <button (click)="dataService.Wishlisted(wishlist);" class="wishButton" type="button">
            <i class="material-icons remove_shopping_cart"
              style="padding-top:5px; color:darkgoldenrod;">remove_shopping_cart</i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5"></td>
        <td scope="row" id="totalprice"><b>Total Shipping</b></td>
        <td><b>${{getTotal()}}</b></td>
      </tr>
    </tfoot>
  </table>
</div>
<div *ngIf="isEmpty()">
  <app-no-results></app-no-results>
</div>
